[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "oro.dicom"]
	path = oro.dicom
	url = https://github.com/bjw34032/oro.dicom
[submodule "oro.nifti"]
	path = oro.nifti
	url = https://github.com/bjw34032/oro.nifti
[submodule "oro.pet"]
	path = oro.pet
	url = https://github.com/bjw34032/oro.pet
[submodule "waveslim"]
	path = waveslim
	url = https://github.com/bjw34032/waveslim
